header{
    width: 100%;
    padding: 5px 10px;    
}
nav{
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    
    
}
.nav_logo{
    width: 270px;
    display: flex;
    align-items: center;
    
    
}
.nav_logo img{
    width:56px;
    height: 48px;
    margin-right: 15px;
    
}
.nav_logo h1{
    margin: 0px;
}
.nav_logo h1 span{
    color: #FF5400;
    margin-left:10px;
}
.nav_list{
    display: flex;   
    align-items: center;   
}
.nav_list li{
    list-style: none;
    margin-right: 44px;
    font-size: 18px;
}
.nav_list li a{
    text-decoration: none;
    color: #424247;
}




/* Responsive Code */

@media screen and (max-width:576px) {
header{
    padding: 0px;
}
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .nav_logo{
        justify-content: center;
    }
    .nav_logo img{
        width: 45px;
        height: 38px;
    }
    .nav_logo h1{
        font-size: 20px;
    }
    .nav_list{
        justify-content: center;
        align-items: center;
       
    }
   .nav_list li{
    margin-right: 15px;
    font-size: 16px;
   }
    
}
